<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SurveySite.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://kit.fontawesome.com/6eacc9578c.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
