body {
}
.page{
   display:flex;
   flex-direction:column;
   align-items:center;
  
   justify-content:center;
   overflow:auto;
}


.idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height:80vh;
}
.anwsers{

    display:flex;
    flex-direction:row;
    margin-top:10vh;
    align-items:center;

    text-align:center;
    font-size:large
  

}

.Header {
    height: 10vh;
    width: 100vw;
    background-color: #157347;
    display:flex;
    justify-content:center;
    align-items:center;
}
.SurveyText{
    font-family:'Poppins';
    color:white;
}

.bottom{

}