@page "/"
@page "/{SurveyId:int}"
@using ComponentLib.Components
@using Models

<PageTitle>Surveys</PageTitle>
<div class="page">
    <div class="Header"><h1 class="SurveyText">SurveyCreator</h1></div>

    @if (!showSurvey)
    {
        <div class="idea">

            <h1>Surveys</h1>
            <p>Click Here to Create your own Survey !</p>
            <button @onclick="Start" class="btn btn-success">Click me to start !</button>
        </div>




    }
    else
    {
        @if (Edit)
        {
            @if (isOwner)
            {
                <div class="anwsers">
                    <button class="btn btn-outline-primary" @onclick="(() => pageCount--)"><i class="fa-solid fa-chevron-left"></i></button>
                    <div>  <p style="align-self:center">@pageCount / @totalPages</p></div>
                  
                    <button class="btn btn-outline-primary" @onclick="(() => pageCount++)"><i class="fa-solid fa-chevron-right"></i></button>
                </div>


                <ViewSurvey SurveyId="SurveyId" PageCount="pageCount" PageUpdate="PageCount" />
            }
            @if (pageCount == 0)
            {
                <div class="Create">
                    <CreateSurvey Survey="Survey1" />
                </div>
              
            }






        }
        else
        {


            <AnwserSurvey Survey="Survey" IsOwner="Owner" />
        }
    }

    <div class="Header bottom"></div>
</div>



