body {
}
.page{
   display:flex;
   flex-direction:column;
   align-items:center;
   background-image:url('../Images/Frame1.svg');
   background-size:cover;

  

   justify-content:center;
 
   overflow:auto;
}


.idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height:80vh;
}
.anwsers{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:large;
    gap:0.5vw;
    margin-top:5vh;

  

}

.Header {
    height: 10vh;
    width: 100vw;
    background-color: #10c16e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}
.SurveyText{
    font-family:'Poppins';
    color:white;
}

.bottom{

}

.btn-success {
    background-color: #10c16e !important;
}


.btn-outline-primary{
    color:#10c16e;
    border-color:#10c16e;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #10c16e;
    border-color: #10c16e; /*set the color you want here*/
     outline: none !important;
   box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .page{
      background-size:0px;
  }
}

.Create{
  
    min-height:80vh;
    height:auto;
    width:min-content;
    width:100vw;
   
    display:flex;
    align-items:safe center;
    justify-content:center;
}