@page "/"
@page "/{SurveyId:int}"
@using ComponentLib.Components
@using Models

<PageTitle>Surveys</PageTitle>
<div class="page">
    <div class="Header"><h1 class="SurveyText">SurveyCreator</h1></div>

    @if (!showSurvey)
    {
        <div class="idea">

            <h1>Surveys</h1>
            <p>Click Here to Create your own Survey !</p>
            <button @onclick="Start" class="btn btn-success">Click me to start !</button>
        </div>




    }
    else
    {
        @if (Edit)
        {
            @if (isOwner)
            {
                <div class="anwsers">
                    <button class="btn btn-outline-primary" @onclick="(() => PageCount--)"><i class="fa-solid fa-chevron-left"></i></button>
                  <p style="margin-bottom:0px;">@PageCount / @totalPages</p>
                  
                    <button class="btn btn-outline-primary" @onclick="(() => PageCount++)"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            }
            @if (pageCount == 0)
            {
                @if (isOwner)
                {
                    <div class="Create">
                        <CreateSurvey Edit="true" Survey="Survey" />
                    </div>
                }
                else
                {
                    <div class="Create">
                        <CreateSurvey Survey="Survey" />
                    </div>
                }
            
            }
            else
            {

                <ViewSurvey Module="module" Survey="Survey"  />
            }






    }
        else
        {


             <AnwserSurvey Survey="Survey" EditSurvey="Owner" /> 
        }
    }

    <div class="Header bottom"></div>
</div>



