body {
}
.page{
   display:flex;
   flex-direction:column;
   align-items:center;
   background-image:url('../Images/Frame1.svg');
   background-size:cover;
   justify-content:center;
   overflow:auto;
}


.idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height:80vh;
}
.anwsers{

    display:flex;
    flex-direction:row;
    margin-top:10vh;
    align-items:center;

    text-align:center;
    font-size:large
  

}

.Header {
    height: 10vh;
    width: 100vw;
    background-color: #10c16e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SurveyText{
    font-family:'Poppins';
    color:white;
}

.bottom{

}

.btn-success {
    background-color: #10c16e !important;
}

@media only screen and (max-width: 768px) {
  .page{
      background-size:0px;
  }
}

.Create{
 height:80vh;
    overflow-y:scroll;
    width:min-content;
    width:100vw;
    display:flex;
    align-items:safe center;
    justify-content:center;
}