@using Microsoft.AspNetCore.Components.Forms

<div class="AnwserPage">
    <h2 class="SurveyName">@Survey.Name</h2>
    @if (ready)
    {
        @if (Survey.Comps != null)
        {
            @if (Survey.Comps.Count != 0)
            {
                <EditForm EditContext="formContext" OnSubmit="SubmitAsync">

                    <DataAnnotationsValidator />
                    <div class="formdiv">

                        @for (int i = 0; i < Survey.Comps.Count; i++)
                        {
                            var index = i; // Create a local variable for each iteration
                          
                            <div class="question" >
                                <h4 class="questionHeader">@Survey.Comps[index].Question</h4>
                                @if (Survey.Comps[index].Type == 0)
                                {
                                    // Free Text
                                    <InputTextArea placeholder="Write your awnser here" @bind-Value="Module.anwsers[index].AnwserText" class="form-control"></InputTextArea>
                                    <ValidationMessage For="() => Module.anwsers[index].AnwserText" />
                                }
                                @if (Survey.Comps[index].Type == 1)
                                {
                                    // multiple choice
                                    if (Survey.Comps[index].MultiAnwsers != null && Survey.Comps[index].MultiAnwsers.Count != 0)
                                    {

                                        for (int k = 0; k < Survey.Comps[index].MultiAnwsers.Count; k++)
                                        {
                                            var kIndex = k;
                                            <div class="option">
                                                <div class="col-auto">
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <input id="input_@k" @onclick="(() =>selectitem(index,kIndex,true))" class="form-check-input" type="radio">
                                                            </div>
                                                        </div>
                                                        <input placeholder="@Survey.Comps[index].MultiAnwsers[kIndex].Text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                @if (Survey.Comps[index].Type == 2)
                                {
                                    // Single Choice
                                    if (Survey.Comps[index].SingleAnwser != null && Survey.Comps[index].SingleAnwser.Count != 0)
                                    {


                                        for (int k = 0; k < Survey.Comps[index].SingleAnwser.Count; k++)
                                        {
                                            var kIndex = k;
                                            <div class="option">
                                                <div class="col-auto">
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <input @onchange="(() =>selectitem(index,kIndex,false))" class="form-check-input" type="radio" name="radio1">
                                                            </div>
                                                        </div>
                                                        <input placeholder="@Survey.Comps[index].SingleAnwser[kIndex].Text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                        }

                                    }
                                }
                            </div>
                        }
                        <ValidationSummary />
                        <button type="submit" class="btn submitbtn btn-success">Submit</button>
                    </div>
                </EditForm>
            }
        }
    }
</div>