::deep .Name {
}

.survey {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    min-height: 80vh; /* Ensures the height is at least 80vh */
    height: auto;
    padding: 5%;
    width: fit-content;
    overflow: auto;
}

.comp {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    width: auto;
    margin-top: 3vh;

}



.form-group {
    margin-top: 3vh !important;
}

::deep .question {
    max-width: 100%;
    min-width: 40vw;
    z-index:2;
}

::deep .form-select {
    width: auto;
}



::deep .compbottom {
    grid-column: span 2;
    pointer-events: none;
    margin-bottom: 0px;
}

.option {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
}

.rdo {
    pointer-events: none;

}
/* Hide the default radio button */
.rdodel {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    position: relative;
    outline: none;
    cursor: pointer;
}

    /* Hover effect to change the border color and display the X */
    .rdodel:hover {
        border-color: red;
    }

        /* Create a red "X" on hover using pseudo-elements */
        .rdodel:hover::before, .rdodel:hover::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 2px;
            background-color: red;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .rdodel:hover::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }



.input-group-text {
    height: 100%;
}

.add {
    pointer-events: none;
}

.Remove {
    color: red;
}

.modal {
    display: block;
}

.abs {
    position: absolute;
    height: 500vh;
    width: 100vw;
    background-color: #000000a8;
}

.addSegment {
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: #10c16e;
    outline: none;
    color: #10c16e;
    user-select: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

    .addSegment:hover {
        background-color: #10c16e;
        color: white;
    }



.btn-success {
    background-color: #10c16e !important;
}
