@using Microsoft.AspNetCore.Components.Forms;


    <EditForm EditContext="formContext" OnValidSubmit="Submit" OnInvalidSubmit="Invalid">
        <div class="survey">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="exampleFormControlInput1">Survey Name</label>
                <InputText placeholder="SurveyName" class="form-control Name" @bind-Value="Survey.Name" />
                <ValidationMessage For="() => Survey.Name" />
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">OwnerPassword</label>
                <InputText type="password" placeholder="1234" class="form-control Name" @bind-Value="Survey.OwnerCode" />
                <ValidationMessage For="() => Survey.OwnerCode" />
            </div>

            @if (Survey.Comps != null)
            {
                @foreach (var item in Survey.Comps)
                {
                    <div class="comp">
               
                        <InputText class="question form-control" placeholder="Question" @bind-Value="item.Question" />
             
                        <InputSelect class="form-select" @bind-Value="item.Type" @bind-Value:after="(() =>TypeChange(item.Id))">
                            <option value="0">Free Text</option>
                            <option value="1">Multiple Choise</option>
                            <option value="2">One Anwser</option>
                            <option class="Remove" value="3">Remove Module</option>
                        </InputSelect>
                        @*           //Free Text *@
                        @if (item.Type == 0)
                        {
                            <p class="compbottom form-control">Your Anwser</p>
                        }

                        @*     //Multiple Choice *@



                        @if (item.Type == 1)
                        {
                            <p>This category lets you select multiple anwsers.</p>

                            @if (item.MultiAnwsers != null)
                            {
                                @foreach (var x in item.MultiAnwsers)
                                {
                                    <div class="option">
                                        <div class="col-auto">
                                          
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">   <input class="form-check-input rdo" type="radio" name="flexRadioDefault" id="flexRadioDefault1"></div>
                                                </div>
                                                <InputText placeholder="Option" class="form-control" @bind-Value="x.Text" /> 
                                               
                                            </div>
                                        </div>


                                    </div>
                                <ValidationMessage For="() => x.Text" />
                           
                                }

                                <div @onclick="(() => AddQuestions(item.Id))" class="option">
                                    <div class="col-auto">
                                  
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">   <input class="form-check-input rdo" type="radio" name="flexRadioDefault" id="flexRadioDefault1"></div>
                                            </div>
                                            <input class="form-control add" placeholder="Add option" />
                                        </div>
                                    </div>

                                </div>

                            }

                        }


                        @*    //Single choise *@
                        @if (item.Type == 2)
                        {

                            <p>This category only lets you chose <b>ONE</b> anwser</p>

                            @if (item.SingleAnwser != null)
                            {
                                @foreach (var x in item.SingleAnwser)
                                {
                                    <div class="option">
                                        <div class="col-auto">
                                      
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">   <input class="form-check-input rdo" type="radio" name="flexRadioDefault" id="flexRadioDefault1"></div>
                                                </div>
                                                <InputText placeholder="Option" class="form-control" @bind-Value="x.Text" />
                                            </div>
                                        </div>                                 
                                    </div>
                                <ValidationMessage For="() => x.Text" />
                                }

                                <div @onclick="(() => AddQuestions(item.Id))" class="option">
                                    <div class="col-auto">
                                   
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">   <input class="form-check-input rdo" type="radio" name="flexRadioDefault" id="flexRadioDefault1"></div>
                                            </div>
                                            <input class="form-control add" placeholder="Add option" />
                                        </div>
                                    </div>

                                </div>

                            }
                        }
                    </div>
                <ValidationMessage For="() => item.Question" />
          
                }
            }

        @if (invalid)
        {
            <button @onclick="AddComp" style="border-color:red;color:red;" class="btn btn-outline-primary addSegment" type="button"><i class="fa-solid fa-plus "></i></button>
            <ValidationMessage For="() => Survey.Comps" />
        }
        else
        {
            <button @onclick="AddComp" class="btn btn-outline-primary addSegment" type="button"><i class="fa-solid fa-plus "></i></button>
        }
            
          
            <button type="submit" class="btn btn-success">Submit</button>
            <ValidationSummary />
        </div>
    </EditForm>



@if (complete)
{
    <div class="abs"></div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button @onclick="closemodal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Dit spørgeskema er nu blevet oprettet og har følgene link</p> <br />
                    <p>@Survey.Id</p>
                </div>
                <div class="modal-footer">
                    <button @onclick="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>
}